
body{
    background:white
    color #3f3f3f;
    font:14px/28x;
    font-family:'Raleway';
}

h1{
    font-size:52px;
    letter-spacing: 4px;
    margin-bottom: 20px;
    color:rgb(197, 203, 231) ;
    text-align :center;
}


.sectionHeader{
    background:rgb(235, 196, 220);
    height:60px;
    color:#fff;
    padding-left: 20px;
    display:inline-block;
   line-height: 60px;
    font-size: 24px;
    padding:5px 40px;
    letter-spacing:2px;
    margin-bottom :20px;
    
}
h3{
    font-size:16px;
    color:rgb(110, 100, 107) ;
    font-weight: bold;
    transition: all .5s ease ;
}



.sectionArea{
    padding:30px 0;
}




/*grid alanlarııı*/

.container{
    width:90%;
    margin :0 auto;
    display :flex;  /*bu bizim üçlü kısımları yan yana getiriyor*/
    

}
.featuresBody.container{
    justify-content:space-between;
}
.col3{
    flex-grow :1;
    width:16.66%;
}


/*anasayfa alanları*/
header.logo{
    margin-right:auto;
}
header.logo img{
    display:block;
    height:70px;


}
.menu li {
    float:left;
}

.menu li a{
    padding :27px 17px;
    margin:10px;
   display:block;
    text-decoration :none;
    letter-spacing: 2px;
    color:rgb(120, 148, 155);
    transition: all .5s ease;
    font-family:'Raleway';
}
.menu li:hover a{
    background:rgb(235, 196, 220);
    
}
#mainSlider{
    height:800px;
    background:url('///C:/Users/LENOVO/Desktop/isviçre/img/anasayfa.jpg') center center no-repeat;
    background-size : cover;
   
}
.slider{
    width:100%;
    text-align :center;
}



.caption{
    display:flex;
    flex-direction:column;
    align-items:center;
    
    justify-content:center;
    width:100%;
    color:#fff
}

#mainCaption{
    height:400px;
    background:rgba(0,0,0, .3);
}


.featuresTop{
    text-align :center;
}

.item{
    padding:10px 20px;
}



.zoom{
    position:relative;
    overflow:hidden;
    display:inline-block;
    width :100%;
    vertical-align:top;
}

.zoom img{
    display:block;
    widows: 100%;
    height: auto;
    transition: all .5s ease ;

}


.item .itemText{
    text-align: center;
    padding:5px;
    border:1px solid rgb(235, 196, 220);
}
.item:hover .zoom img{
    transform: scale(1.25);
}


.item :hover h3{
    color:#fff;
}


.item:hover .itemText{
    background:rgb(235, 196, 220);
    color:#fff;
    transition: all .5s ease;
}

.btnDetails{
    color:rgb(46, 25, 38);
    padding :5 px 10px;
    text-decoration: none;
    border:1px solid rgb(235, 196, 220);
    transition: all .5s ease;
}
.item:hover .btnDetails{
    color:#fff;
    border: 1px solid #ffff;
}

.itemText p{
    margin:20px 0;
}


 .col1{
flex-grow :1;
width: 33.33%;
padding: 20px;


 }
 

 .imageOver{
    
    margin-bottom:30px;
     width:30%;
     height:10%;
    display: table;
     position: relative;
     overflow: hidden;
     text-align:center;
     margin:0 auto;
     margin-bottom:30px;
     
 }



.buttonDetails{
    background:rgb(197, 197, 197);
    font-weight: bold;
    font-size:20px;
    color:#fff;
    padding :10px 20px;
    text-decoration: none;
    border:0px solid rgb(235, 196, 220);
    transition: all .5s ease;
    line-height: 60px;
  
}


footer{
    background-color:rgb(235, 196, 220) ;
    text-align:center;
}

.footerItem{
    padding: 20px;

}


.footerItem img{
    height:60px;
    padding: 5px;
   opacity: .5;
}

footer h3{
    color:#fff; 
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    padding:10px;
    font-weight: bold;
    
}
footer .fa{
    font-size: 30px;
    color:#95a5a6

    
}


.socialLinks li{
   widows: 50px;
    height: 50px;
    line-height: 10px;
 
}
footer p{
    color:#5c7d80;
    line-height: 20px;
}

.footerLinks a {
    text-decoration: none;
    color:#5c7d80;
    margin-bottom: 10px;
    letter-spacing: 1px;
    transition: 0.3s ease;
    line-height: 35px;

}
.footerLinks a:hover{
    color:#fff;
    text-decoration: underline;
}





.footerisim{
    position: bottom;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(245, 231, 240);
        color: rgb(53, 32, 42);
        text-align: center;
     padding:10px;
    
     
    }